<html>
    <body>
        <h1>トップページ</h1>
        <div>
            {% if user.is_authenticated %}
                {{user.username}} さん
            {% else %}
                ログインしていません
            {% endif %}
        </div>
        <h2>投稿された記事一覧</h2>
        {% for article in articles %}
            <div>
                <a href="/blog/articles/{{ article.id }}">
                    {{ article.title }}
                </a>
            </div>
        {% endfor %}
        <h2>Qiitaの記事一覧</h2>
        {% for qiita_article in qiita_articles %}
            <div>
                <a href="{{ qiita_article.url }}">
                    {{ qiita_article.title }}
                </a>
            </div>
        {% endfor %}
    </body>
</html>
